<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.cyrillicphonetic(dvorak)</string>
	<key>CFBundleName</key>
	<string>Cyrillic Phonetic (Dvorak)</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Cyrillic - Phonetic (Dvorak)</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillicphonetic(dvorak).cyrillic-phonetic(dvorak)</string>
		<key>TISIntendedLanguage</key>
		<string>uk-UA</string>
	</dict>
</dict>
</plist>
